* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  background: green;
  border: 2px solid white;
  width: 1000px;
  height: 600px;
}

.score {
  color: white;
  font-weight: bolder;
  text-align: center;
  width: 80%;
}

.score h3 {
  font-size: 36px;
}

.score .scores {
  display: flex;
  justify-content: space-around;
}

.score .scores p {
  font-size: 28px;
}

.controls {
  background-color: rgba(255, 255, 255, 0.244);
  width: 100%;
  text-align: center;
  align-content: center;
  height: 200px;
  position: absolute;
  transform: translateY(-800px);
  transition: transform 0.5s ease;
}

.controls.slide {
  transform: translateY(0);
}

#btn {
  border: 2px solid white;
  outline: none;
  background-color: green;
  color: white;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(5, 171, 5);
}
